.item_form{
    margin: 5px;
}
.text-diachi{
    margin-left: 200px;
}
.btn-item{
    margin-left: 200px;
    width: 200px;
}
.btn-them-moi-kh{
    margin-top: 10px;
}
.search-xe{
    margin: 0 auto;
}